html{
    height: 100%;
}
body{
    height: 100%;
    background-color: #46df28;
}

#rectangle {
    position: relative;
    /*на основе элемента в кот он лежит*/
    top: calc(50% - 50px);
    left: calc(50% - 100px);
    width: 200px;
    height: 100px;
    background: #fffcf3;
}

#circle {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);

    width: 60px;
    height: 60px;
    background: #af0000;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}